@import "tailwindcss";

@font-face {
  font-family: 'Wosker Demo';
  src: url('./fonts/WoskerDemo.otf');
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./fonts/SpaceGrotesk.ttf');
}

@theme {
  --font-wosker: "Wosker Demo", "sans-serif";
  --font-space: "SpaceGrotesk", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-orange: #E56924;
  --color-yellow: #F8F400;
  --color-orange-yellow: #F8CF00;
  --color-green: #019C45;
  --color-black: #2E2E2E;
  --color-white: #FFFFFF;
  --color-pink: #F8B3CF;
  --color-brown: #B48756;
  --shadow-button: -4px 4px 0px 0px #2E2E2E;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'SpaceGrotesk', sans-serif;
  background-color: #f9f9f9;
  color: #222;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Wosker Demo', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto !important;
}

.active {
  @apply border-b-2 border-black !pb-1;
}

.footer-title {
  @apply font-wosker font-normal text-[32px] leading-[36px] tracking-normal align-middle uppercase;
}

.footer-text {
  @apply  font-normal text-[16px] leading-[24px] tracking-normal align-middle;
}